/* == import from google fonts == */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ./your-css-folder/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

@layer components {
  .custom-btn {
    @apply py-3 px-4 text-black bg-[#E6E6E6] rounded-lg;
  }
}

/* === custome css === */
.text-style {
  position: relative;
}

input[type="checkbox"]:focus{
  outline: none!important;
  box-shadow: none!important;
}

.text-style::after {
  position: absolute;
  content: "";
  top: 50%;
  height: 3px;
  width: 30px;
  transform: translateY(-50%);
  background: #253477;
}

.text-style.style-one::after {
  left: -25px;
}

.food-menu .card-thumb {
  position: relative;
}

.food-menu .card-thumb::after {
  position: absolute;
  content: "";
  bottom: -15px;
  right: -20px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: -1;
  background: #f0bec7;
  transform: rotate3d(2, 2, 2, 7deg);
}

.food-menuSlider .swiper-wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.food-menuSlider .swiper-pagination {
  bottom: 0;
}

.food-menuSlider .swiper-pagination span.swiper-pagination-bullet {
  width: 30px;
  border-radius: 25px;
}

.food-menuSlider .swiper-pagination span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: linear-gradient(90deg, #ed1c24 0%, #a6214b 100%);
}

.text-style.style-two::after {
  right: -25px;
}

.menuCloseButton {
  cursor: pointer;
  display: flex;
  justify-content: end;
}

.menuCloseButton {
  margin-right: 20px;
  margin-top: 40px;
}

.menuCloseButton:hover,
.menuCloseButton:focus {
  text-decoration: underline;
}

.menu-hamburger,
.menu-Close {
  background: transparent no-repeat right center scroll;
  display: inline-block;
  width: 36px;
  height: 26px;
  padding-right: 40px;
  vertical-align: middle;
}

#side-menu {
  background: rgba(82, 97, 105, 0.95);
  position: fixed;
  top: 0;
  font-size: 14px;
  /*overflow-y: auto;
    overflow-x: hidden;*/
  z-index: 100;
  width: 300px;
}

#side-menu .mainMenu {
  margin-top: 15px;
  display: block;
  padding: 0 0 0 0;
  overflow-y: auto;
  width: 300px;
  margin-left: -10px;
}

.main-side-nav {
  position: absolute;
  background-color: #000;
  width: 300px;
  left: -300px;
  height: 100%;
  z-index: 100000;
  transition: left 0.4s ease;
}

.open-side-nav {
  left: 0 !important;
  transition: left 0.5s ease !important;
}

#overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  width: 100%;
  height: 100%;
  z-index: 99;
  left: 100%;
  top: 0;
  transition: left 0.5s ease;
}

.overlay {
  left: 0 !important;
  transition: left 0.5s ease !important;
}

.mainMenu>li {
  margin-bottom: 10px;
}

.mainMenu>li>a {
  display: flex;
  font-size: 16px;
  color: #fff;
  padding: 10px 25px;
}

.mainMenu>li>a:hover,
.mainMenu>li>a:focus>a {
  color: #fff;
  background: #3730a3;
}

/* Tab content - closed */
.tab-content {
  -webkit-transition: max-height 0.35s;
  -o-transition: max-height 0.35s;
  transition: max-height 0.35s;
}

/* :checked - resize to full height */
.tab input:checked~.tab-content {
  max-height: 100vh;
}

/* Label formatting when open */
.tab input:checked+label {
  /*@apply text-xl p-5 border-l-2 border-indigo-500 bg-gray-100 text-indigo*/
  font-size: 1.25rem;
  /*.text-xl*/
  padding: 1.25rem;
  /*.p-5*/
  border-left-width: 2px;
  /*.border-l-2*/
  border-color: #6574cd;
  /*.border-indigo*/
  background-color: #f8fafc;
  /*.bg-gray-100 */
  color: #6574cd;
  /*.text-indigo*/
}

/* Icon */
.tab label::after {
  float: right;
  right: 0;
  top: 0;
  display: block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5;
  font-size: 1.25rem;
  text-align: center;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}

/* Icon formatting - closed */
.tab input[type="checkbox"]+label::after {
  content: "+";
  font-weight: bold;
  /*.font-bold*/
  border-width: 1px;
  /*.border*/
  border-radius: 9999px;
  /*.rounded-full */
  border-color: #b8c2cc;
  /*.border-grey*/
}

.tab input[type="radio"]+label::after {
  content: "\25BE";
  font-weight: bold;
  /*.font-bold*/
  border-width: 1px;
  /*.border*/
  border-radius: 9999px;
  /*.rounded-full */
  border-color: #b8c2cc;
  /*.border-grey*/
}

/* Icon formatting - open */
.tab input[type="checkbox"]:checked+label::after {
  transform: rotate(315deg);
  background-color: #6574cd;
  /*.bg-indigo*/
  color: #f8fafc;
  /*.text-grey-lightest*/
}

.tab input[type="radio"]:checked+label::after {
  transform: rotateX(180deg);
  background-color: #6574cd;
  /*.bg-indigo*/
  color: #f8fafc;
  /*.text-grey-lightest*/
}

/* == dropdown css == */
#drop-box.active {
  opacity: 1;
}

/* === swiper custom arrow === */
.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

/* === resturant list css === */
/* .arr-min {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 100px;
  background: #fff;
  border-radius: 25px;
} */

.food-menu.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 111;
  width: 100%;
}

/* === delivery-man css start === */
.delivery-man {
  background-size: cover;
  background-position: center;
  background-image: url(../public/images/banner/delivery_bg.png);
}

@media (min-width: 992px) {
  .delivery-man::after {
    height: 70%;
  }
}

/* === delivery-man css start === */

/* === bmp-app css start === */
/* .bmp-app::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-image: url(../public/images/banner/app_bg.png);
}

@media (min-width: 1100px) {
  .bmp-app::after {
    width: 88%;
  }
} */

/* === bmp-app css ends  === */

/* === item checkout css start === */
.order-history.active {
  right: 0;
}

@media (max-width: 991px) {
  .order-history {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 111;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

/* === checkout page css start === */
input[type="radio"]+label span {
  transition: background 0.2s, transform 0.2s;
}

input[type="radio"]+label span:hover,
input[type="radio"]+label:hover span {
  transform: scale(1.2);
}

input[type="radio"]:checked+label span {
  background-color: #076faf;
  box-shadow: 0px 0px 0px 2px white inset;
}

input[type="radio"]:checked+label {
  color: #076faf;
}

/* == time modal == */
/* modal part */
#modal-background,
#address-modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#modal,
#modal2 {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  font-size: 1.5rem;
  animation-name: animatemodal;
  animation-duration: 0.4s;
}

#modal2 {
  max-width: 100%;
}

.modal-content {
  width: 250px;
}

@media (min-width: 400px) {
  .modal-content {
    width: 300px;
  }
}

@media (min-width: 576px) {
  .modal-content {
    width: 400px;
  }
}

@media (min-width: 768px) {
  .modal-content {
    width: 650px;
  }
}

@media (min-width: 992px) {
  .modal-content {
    width: 900px;
  }
}

.address-content ul.nav li.active a {
  color: #076faf;
}

.address-content .tab-content {
  max-height: 100%;
}

.address-content .tab-content .tab-pane {
  opacity: 0;
  display: none;
  transition: all 0.3s ease-in-out;
}

.address-content .tab-content .tab-pane.active {
  opacity: 1;
  display: block;
}

#address-modal .pr-item {
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#close-btn,
#close-btn1 {
  align-self: flex-end;
}

#close-btn:hover,
#close-btn1:hover {
  cursor: pointer;
  color: #ff0000;
}

.form-switch .form-check-input {
  margin-top: 0.1rem;
  background-image: url(../public/images/checkout/download.svg);
  background-position: 0;
  transition: background-position 0.15s ease-in-out;
}

.form-switch .form-check-input:checked {
  background-position: 100%;
  background-image: url(../public/images/checkout/download.svg);
}

.form-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

/* modal part end */

/* animation part */
@keyframes animatemodal {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 50%;
    opacity: 1;
  }
}

/* animation part end */

.checkout-area .order-summery {
  box-shadow: 0px 1px 11px rgba(51, 73, 167, 0.13);
}

@media (max-width: 991px) {
  .checkout-area .order-summery {
    position: fixed;
    top: 50%;
    right: -300px;
    width: 300px;
    z-index: 1;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
  }
}

.checkout-area .order-summery.active {
  right: 0;
}

/* === checkout page css ends  === */

/* === payment page  css start  === */
.card-list {
  max-width: 900px;
  overflow-x: auto;
}

.card-list button {
  min-width: 120px;
}

.payment-wrapper .card-content {
  position: relative;
}

.payment-wrapper .card-content::after {
  position: absolute;
  content: "";
  top: -5px;
  left: 50px;
  z-index: 1;
  transition: all 0.2s ease-out;
  transform: translateY(-50%) rotate(-90deg);
  border-left: 10px solid #32323229;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.payment-wrapper .card-content.style-one::after {
  left: auto;
  right: 50px;
}

/* === payment page  css ends   === */

/* === resturant details modal css === */
.main-modal .modal-container .res-content {
  min-height: 300px;
  overflow-y: auto;
}

:root {
  --shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --ring-offset-shadow: 0 0 #0000;
  --ring-shadow: 0 0 #0000;
}

.card_open {
  animation-duration: 0.2s;
  animation-name: card_open;
}

@keyframes card_open {
  from {
    height: 1%;
    box-shadow: var(--shadow);
  }

  to {
    height: 100%;
    box-shadow: var(--ring-offset-shadow, 0 0 #0000),
      var(--ring-shadow, 0 0 #0000), var(--shadow);
  }
}

/* === resturant details modal css === */

/* === my order css ends === */
.my-order .section-wrapper .history-content ul.nav li a {
  padding: 8px 32px;
}

@media (max-width: 575px) {
  .my-order .section-wrapper .history-content ul.nav li a {
    padding: 8px 12px;
  }
}

.my-order .section-wrapper .history-content ul.nav li.active a {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 1px 11px rgba(51, 73, 167, 0.13);
  border-radius: 3px;
  border: 0.25px solid #076faf;
}

.my-order .section-wrapper .history-content .tab-content .tab-pane {
  opacity: 0;
  display: none;
}

.my-order .section-wrapper .history-content .tab-content .tab-pane.active {
  opacity: 1;
  display: block;
}

/* === my order css ends  === */

/* === traking order css satart === */
.traker-area {
  padding: 60px 0;
}
.traker-area .traking-content ul.traking-list {
  margin: 0 auto;
  max-width: 600px;
}

.traker-area .traking-content ul.traking-list li {
  position: relative;
}

.traker-area .traking-content ul.traking-list li .progress1.active img.defult-step{
  display: none;
}

.traker-area .traking-content ul.traking-list li .progress1 img.active-step{
  display: none;
}

.traker-area .traking-content ul.traking-list li .progress1.active img.active-step{
  display: block;
}

.traker-area .traking-content ul.traking-list li:nth-child(1) img {
  margin-right: 0;
  margin-left: auto;
}

.traker-area .traking-content ul.traking-list li:nth-child(1) .progress1 {
  position: absolute;
  top: 50%;
  right: -10px;
  z-index: -1;
  transform: rotate(-4deg);
}

.traker-area .traking-content ul.traking-list li:nth-child(2) .progress1 {
  position: absolute;
  top: 50%;
  left: -12%;
  z-index: -1;
}

.traker-area .traking-content ul.traking-list li:nth-child(3) img {
  padding-top: 40px;
  margin-right: 0;
  margin-left: auto;
}

.traker-area .traking-content ul.traking-list li:nth-child(3) .progress1 {
  position: absolute;
  top: 50%;
  right: -12%;
  z-index: -1;
}

.traker-area .traking-content ul.traking-list li:nth-child(4) img {
  padding-top: 30px;
  padding-left: 150px;
}

@media (max-width: 678px) {
  .traker-area .traking-content ul.traking-list {
    max-width: 400px;
  }

  .traker-area .traking-content ul.traking-list li:nth-child(1) .progress1 {
    position: absolute;
    top: 62%;
    right: -58px;
    z-index: -1;
    transform: rotate(-12deg);
  }
  .traker-area .traking-content ul.traking-list li:nth-child(4) img {
    padding-left: 0;
  }
}

@media (max-width: 600px) {
  .traker-area .traking-content ul.traking-list li:nth-child(2) .progress1 {
    position: absolute;
    top: 85%;
    right: -58px;
    z-index: -1;
    transform: rotate(8deg);
  }
}

@media (max-width: 425px) {
  .traker-area .traking-content ul.traking-list li:nth-child(2) .progress1 {
    transform: rotate(15deg);
  }
}

@media (max-width: 375px) {
  .traker-area .traking-content ul.traking-list li:nth-child(2) .progress1 {
    transform: rotate(20deg);
  }
}

@media (max-width: 320px) {
  .traker-area .traking-content ul.traking-list li:nth-child(2) .progress1 {
    transform: rotate(24deg);
  }
}

/* === traking order css ends   === */

/* === order delete modal css === */
.order-delete-modal {
  margin: 0 auto;
  max-width: 550px;
}

/* === order delete modal css === */

/* === voucher modal css === */
.voucher-modal {
  margin: 0 auto;
  min-width: 300px;
}

@media (min-width: 768px) {
  .voucher-modal {
    margin: 0 auto;
    min-width: 400px;
  }
}

@media (min-width: 992px) {
  .voucher-modal {
    margin: 0 auto;
    min-width: 600px;
  }
}

/* === voucher modal css === */

/* === contact page css start === */
.contact-query .form-menu li.active a {
  color: #fff;
  background: #89E488;
}
.contact-query .tab-contents {
  display: none;
}
.contact-query .tab-contents.active {
  display: block;
}
.custom-label input:checked + svg {
  display: block !important;
}
/* === contact page css ends  === */